@charset "UTF-8";

body{
    font-size: 18px;
    font-family: '나눔바른고딕','맑은 고딕',돋움,sans-serif;
    line-height: 1.6;
}

main > h1 {
    color: #fff;
    background-color: rgb(53, 40, 16);
    text-align: center;
    font-family: '나눔스퀘어라운드','맑은 고딕',돋움,sans-serif;
    font-weight: normal;
}
main > section > h2 {
    color: green;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
}
main.deco_color {
    font-size: 16px;
    color:red;
}
.deco_color {
    font-size: 16px;
    color: red;
}
main > section {
    background-color: rgb(245, 245, 245);
    text-align: center;
}
main > section > a {
    background-color: magenta;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
main > .container {
    background-color: skyblue;
}
main > .container > h2 {
    color: rgb(4, 68, 4);
    text-align: center;
    text-decoration: underline;
}
main > .container > section > h3 {
    background-color: orange;
    text-align: right;
}
main > .container .deco_bg {
    background-color: salmon;
}
main > .container .deco_left {
    background-color: transparent;
    color : #000;
    text-align: left;
}